<dotnetnuke version="3.0" type="Module">
  <folders>
    <folder>
      <name>DNN_Events</name>
      <friendlyname>Events</friendlyname>
      <foldername>Events</foldername>
      <modulename>DNN_Events</modulename>
      <description>This module renders single and recurring events and includes Master and Sub Calendars with Event Rollup, TimeZone Adjustment, Event Enrollment, and Event Notification.</description>
      <version>03.02.00</version>
      <businesscontrollerclass>DotNetNuke.Modules.Events.EventController, DotNetNuke.Modules.Events</businesscontrollerclass>
      <modules>
        <module>
          <friendlyname>Events</friendlyname>
          <cachetime>0</cachetime>
          <controls>
            <control>
              <title>Events Controller</title>
              <src>DesktopModules/Events/Events.ascx</src>
              <type>Edit</type>
              <helpurl>http://www.dotnetnuke.com/default.aspx?tabid=787</helpurl>
            </control>
            <control>
              <key>Categories</key>
              <title>Edit Event Categories</title>
              <src>DesktopModules/Events/EventEditCategories.ascx</src>
              <type>Edit</type>
              <helpurl>http://www.dotnetnuke.com/default.aspx?tabid=787</helpurl>
            </control>
            <control>
              <key>Details</key>
              <title>View Event Details</title>
              <src>DesktopModules/Events/EventDetails.ascx</src>
              <type>View</type>
              <helpurl>http://www.dotnetnuke.com/default.aspx?tabid=787</helpurl>
            </control>
            <control>
              <key>Edit</key>
              <title>Edit Events</title>
              <src>DesktopModules/Events/EditEvents.ascx</src>
              <type>Edit</type>
              <helpurl>http://www.dotnetnuke.com/default.aspx?tabid=787</helpurl>
            </control>
            <control>
              <key>Import</key>
              <title>Import AVCalendar Module Events</title>
              <src>DesktopModules/Events/ImportAVCalendar.ascx</src>
              <type>Edit</type>
              <helpurl>http://www.dotnetnuke.com/default.aspx?tabid=787</helpurl>
            </control>
            <control>
              <key>Locations</key>
              <title>Edit Event Locations</title>
              <src>DesktopModules/Events/EventEditLocations.ascx</src>
              <type>Edit</type>
              <helpurl>http://www.dotnetnuke.com/default.aspx?tabid=787</helpurl>
            </control>
            <control>
              <key>Moderate</key>
              <title>Moderate Events and Enrollment</title>
              <src>DesktopModules/Events/EventModerate.ascx</src>
              <type>Edit</type>
              <helpurl>http://www.dotnetnuke.com/default.aspx?tabid=787</helpurl>
            </control>
            <control>
              <key>Month</key>
              <title>View Event Month</title>
              <src>DesktopModules/Events/EventMonth.ascx</src>
              <type>View</type>
              <helpurl>http://www.dotnetnuke.com/default.aspx?tabid=787</helpurl>
            </control>
            <control>
              <key>MyEnrollments</key>
              <title>View My Enrollments</title>
              <src>DesktopModules/Events/EventMyEnrollments.ascx</src>
              <type>View</type>
              <helpurl>http://www.dotnetnuke.com/default.aspx?tabid=787</helpurl>
            </control>
            <control>
              <key>PPEnroll</key>
              <title>Event PayPal Enrollment</title>
              <src>DesktopModules/Events/EventPPEnroll.ascx</src>
              <type>View</type>
              <helpurl>http://www.dotnetnuke.com/default.aspx?tabid=787</helpurl>
            </control>
            <control>
              <key>Settings</key>
              <title>Events Settings</title>
              <src>DesktopModules/Events/Settings.ascx</src>
              <type>Admin</type>
              <helpurl>http://www.dotnetnuke.com/default.aspx?tabid=787</helpurl>
            </control>
            <control>
              <key>TZUpdate</key>
              <title>Update Event Module TimeZones</title>
              <src>DesktopModules/Events/EventTZUpdate.ascx</src>
              <type>Edit</type>
              <helpurl>http://www.dotnetnuke.com/default.aspx?tabid=787</helpurl>
            </control>
            <control>
              <key>Week</key>
              <title>View Event Week</title>
              <src>DesktopModules/Events/EventWeek.ascx</src>
              <type>View</type>
              <helpurl>http://www.dotnetnuke.com/default.aspx?tabid=787</helpurl>
            </control>
            <control>
              <key>List</key>
              <title>List Events</title>
              <src>DesktopModules/Events/EventList.ascx</src>
              <type>View</type>
              <helpurl>http://www.dotnetnuke.com/default.aspx?tabid=787</helpurl>
            </control>
          </controls>
        </module>
      </modules>
      <files>
        <file>
          <name>DotNetNuke.Modules.Events.dll</name>
        </file>
        <file>
          <name>EventDetails.ascx</name>
        </file>
        <file>
          <name>EditEvents.ascx</name>
        </file>
        <file>
          <name>EventEditCategories.ascx</name>
        </file>
        <file>
          <name>EventEditLocations.ascx</name>
        </file>
        <file>
          <name>EventIPN.aspx</name>
        </file>
        <file>
          <name>EventModerate.ascx</name>
        </file>
        <file>
          <name>EventMonth.ascx</name>
        </file>
        <file>
          <name>EventMyEnrollments.ascx</name>
        </file>
        <file>
          <name>EventPPEnroll.ascx</name>
        </file>
        <file>
          <name>Events.ascx</name>
        </file>
        <file>
          <name>Settings.ascx</name>
        </file>
        <file>
          <name>EventTZUpdate.ascx</name>
        </file>
        <file>
          <name>EventVCal.aspx</name>
        </file>
        <file>
          <name>EventWeek.ascx</name>
        </file>
        <file>
          <name>EventList.ascx</name>
        </file>
        <file>
          <name>ImportAVCalendar.ascx</name>
        </file>
        <file>
          <name>module.css</name>
        </file>
        <file>
          <name>Tooltip.js</name>
        </file>
        <file>
          <path>App_LocalResources</path>
          <name>EventDetails.ascx.resx</name>
        </file>
        <file>
          <path>App_LocalResources</path>
          <name>EditEvents.ascx.resx</name>
        </file>
        <file>
          <path>App_LocalResources</path>
          <name>EventEditCategories.ascx.resx</name>
        </file>
        <file>
          <path>App_LocalResources</path>
          <name>EventEditLocations.ascx.resx</name>
        </file>
        <file>
          <path>App_LocalResources</path>
          <name>EventEventImport.ascx.resx</name>
        </file>
        <file>
          <path>App_LocalResources</path>
          <name>EventModerate.ascx.resx</name>
        </file>
        <file>
          <path>App_LocalResources</path>
          <name>EventMonth.ascx.resx</name>
        </file>
        <file>
          <path>App_LocalResources</path>
          <name>EventMyEnrollments.ascx.resx</name>
        </file>
        <file>
          <path>App_LocalResources</path>
          <name>EventNotification.resx</name>
        </file>
        <file>
          <path>App_LocalResources</path>
          <name>EventPPEnroll.ascx.resx</name>
        </file>
        <file>
          <path>App_LocalResources</path>
          <name>Events.ascx.resx</name>
        </file>
        <file>
          <path>App_LocalResources</path>
          <name>Settings.ascx.resx</name>
        </file>
        <file>
          <path>App_LocalResources</path>
          <name>EventTZUpdate.ascx.resx</name>
        </file>
        <file>
          <path>App_LocalResources</path>
          <name>EventWeek.ascx.resx</name>
        </file>
        <file>
          <path>App_LocalResources</path>
          <name>EventList.ascx.resx</name>
        </file>
        <file>
          <path>App_LocalResources</path>
          <name>ImportAVCalendar.ascx.resx</name>
        </file>
        <file>
          <name>DotNetNuke.Modules.Events.SqlDataProvider.dll</name>
        </file>
        <file>
          <name>DotNetNuke.Events.WebControls.dll</name>
        </file>
        <file>
          <name>03.01.00.SqlDataProvider</name>
        </file>
        <file>
          <name>03.02.00.SqlDataProvider</name>
        </file>
        <file>
          <name>Uninstall.SqlDataProvider</name>
        </file>
	<file>
	  <name>ReadMe.txt</name>
	</file>
	<file>
	  <name>dn-curve.gif</name>
	</file>
	<file>
	  <name>navlink.gif</name>
	</file>
	<file>
	  <name>vcalendar.gif</name>
	</file>
	<file>
	  <name>paypal.gif</name>
	</file>
	<file>
	  <name>view.gif</name>
	</file>
	<file>
	  <name>bgcolor.gif</name>
	</file>
	<file>
          <path>..\..\images</path>
	  <name>SmallCalendar.gif</name>
	</file>
      </files>
    </folder>
  </folders>
</dotnetnuke>